CLOSED SOURCE PROJECTS

  A Day in The Life (2012)
    description: A platform for organizing and sharing your life stories. Allows consumption from a web platform or as a e-book.
    live on the web: aDayintheLifeof.net
    source code: git clone http://git.jackdesert.com/adayinthelifeof.git
      user: okcupid
      password: h9m7xa11e


OPEN SOURCE PROJECTS

  LyXBLogger (2009-2013)
    description: A Python plugin for effortlessly publishing from LyX to a Wordpress blog
    home page: lyxblogger.nongnu.org
    source code: github.com/jackdesert/lyxblogger

  REGI (Co-Developer, 2011-2012)
    description: A trip registration system for high risk outdoor adventures. In use by the Hiking and Biking committee of the Boston chapter of the Appalachian Mountain Club.
    live on the web: hbbostonamc.org/regi
    source code: github.com/jackdesert/REGI
    
  KOOJI (2012)
    description: An enhanced trip registration system, intended to replace REGI
    live prototype: evening-mountain-9380.heroku.com
    source code: github.com/jackdesert/kooji

  GrooveTask (2008)
    description: A sophisticated to-do list that is aware of both task priority and the type of energy required to succeed. Based on Brian Tracy's book, "Eat That Frog".
    live on the web: groove.letseatalready.com
    source code: github.com/jackdesert/groovetask

