/* line 24 */
* {
  font-family: Verdana;
  font-size: 16px;
  color: #111122;
  border-radius: 10px;
  line-height: 1.3;
}

/* line 31 */
a {
  display: inline-block;
  color: #5555dd;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 0;
}
/* line 38 */
a:hover {
  font-size: 105%;
  font-weight: bold;
  margin-bottom: -1px;
}

/* line 43 */
ul {
  margin-left: 34px;
  padding: 2px 0 10px;
  width: 70ex;
}

/* line 47 */
li + li {
  padding-top: 2px !important;
}

/* line 49 */
body {
  font-family: Verdana;
  font-size: 10pt;
  background-color: #0a083a;
}

/* line 55 */
.content {
  background-color: #0a083a;
  width: 800px;
  margin: 0 auto;
}

/* line 60 */
#header {
  position: relative;
}
/* line 62 */
#header #resume {
  padding: 4px 13px 7px;
  background-color: #e5e5ff;
  position: absolute;
  right: 30px;
  bottom: -3px;
  font-size: 16px;
}

/* line 72 */
h1, h2, h3 {
  font-weight: bold;
}

/* line 75 */
h1 {
  font-size: 23px;
  text-align: center;
  color: #aaaaaa;
  padding-top: 20px;
}

/* line 82 */
.gig {
  padding: 10px;
  background-color: #e5e5ff;
  margin: 27px;
}
/* line 83 */
.gig .tech, .gig .features, .gig .description, .gig .check {
  font-size: 16px;
}
/* line 85 */
.gig .more {
  padding: 10px;
}
/* line 90 */
.gig .title {
  font-size: 22px;
  padding-bottom: 10px;
}
/* line 93 */
.gig .tech:before {
  content: "Technologies";
}
/* line 95 */
.gig .features:before {
  content: "Features";
}
/* line 97 */
.gig .features, .gig .tech {
  padding-top: 10px;
}
/* line 99 */
.gig .features:first-line, .gig .tech:first-line, .gig .check:first-line {
  font-weight: bold;
  font-size: 110%;
}
/* line 102 */
.gig .check:before {
  content: "Check it Out";
}
/* line 105 */
.gig .check .note {
  padding-left: 10px;
  font-size: 90%;
}
/* line 108 */
.gig .check .demo {
  padding-top: 5px;
}
/* line 110 */
.gig .check .demo, .gig .check .source {
  padding-left: 10px;
}
/* line 112 */
.gig .check .source ul {
  list-style: none;
  margin-left: 15px;
}
