/* line 19 */
body {
  background-color: #0a083a;
}

/* line 23 */
div, input {
  border-radius: 0.5rem;
}

/* line 27 */
a {
  display: inline-block;
  color: #9999ff;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 0;
}
/* line 34 */
a:hover {
  font-size: 110%;
  font-weight: bold;
  margin-bottom: -0.05rem;
}

/* line 40 */
ul {
  margin-left: 2.2rem;
}

/* line 43 */
#content {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

/* line 49 */
#header h1, #header h2, #header h3, #header h4, #header div, #header ul, #header li {
  color: #eeeeee;
}
/* line 52 */
#header h1 {
  font-size: 2rem;
  font-weight: bold;
}
/* line 56 */
#header h1, #header .contact {
  text-align: center;
  position: relative;
}
/* line 59 */
#header ul {
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  max-width: 70rem;
}
/* line 63 */
#header li + li {
  padding-top: 0.2rem;
}

/* line 68 */
#purpose #signature {
  padding-bottom: 2rem;
  padding-left: 17rem;
}

/* line 73 */
#purpose, #footer {
  color: #eeeeee;
  margin: 0 auto;
  padding-top: 1rem;
  max-width: 30rem;
  font-size: 1rem;
  padding-bottom: 0.3rem;
}

/* line 81 */
#footer {
  text-align: center;
  padding-bottom: 2rem;
}
/* line 84 */
#footer .copyright {
  padding-bottom: 1rem;
}
/* line 86 */
#footer div {
  line-height: 1.4;
}

/* line 90 */
.gig {
  color: #111122;
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: #e5e5ff;
}
/* line 93 */
.gig .description {
  padding-top: 0.5rem;
}
/* line 95 */
.gig .tech, .gig .features, .gig .description, .gig .check {
  font-size: 1rem;
}
/* line 97 */
.gig .more {
  padding: 1rem;
}
/* line 101 */
.gig a {
  color: #5555f8;
}
/* line 103 */
.gig .title {
  font-size: 2rem;
  padding-bottom: 0.5rem;
  line-height: 1.15;
}
/* line 107 */
.gig .tech:before {
  content: "Technologies";
}
/* line 109 */
.gig .features:before {
  content: "Features";
}
/* line 111 */
.gig .features, .gig .tech {
  padding-top: 1rem;
}
/* line 113 */
.gig .features:first-line, .gig .tech:first-line, .gig .check:first-line {
  font-weight: bold;
  font-size: 1.3rem;
}
/* line 116 */
.gig .check:before {
  content: "Check it Out";
}
/* line 119 */
.gig .check .note {
  padding-left: 1rem;
  font-size: 0.9rem;
}
/* line 122 */
.gig .check .demo {
  padding-top: 0.5rem;
}
/* line 124 */
.gig .check .demo, .gig .check .source {
  padding-left: 1rem;
}
/* line 126 */
.gig .check .source ul {
  list-style: none;
  margin-left: 1.5rem;
}

/* Medium and large screens */
@media screen and (min-width: 769px) {
  /* line 132 */
  #content {
    padding-top: 4rem;
  }
  /* line 134 */
  #content h1 {
    font-size: 3rem;
  }
}
/* Large screens */
